<body>
    <div class="container">
      <div class="user-info pull-right">
        <% if user_signed_in? %>
          <li>Email: <strong><%= current_user.email %></strong> </li>
          <li>To do TASKS: ADD LINK TO TASKS</li>
          <li>Completed tasks: ADD LINK TO COMPLETED TASKS</li>
        <% end %>
      </div>
     </ul>
    <%= yield %>
    </div>
</body>