<% @user.items.each do |item| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= item.name %>
      </h4>
      <small>
        created <%= time_ago_in_words(item.created_at) %> ago <br>
        <%= link_to "Complete!", item, method: :delete, class: 'glyphicon glyphicon-ok' %>
        <%= distance_of_time_in_words(Time.now, item.created_at.to_date + 7 ) %> remaining <br>
      </small>
    </div>
  </div>
<% end %>